@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@388&display=swap');
.jumbotron > #background{
  
}
/* .logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
#des{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h2.des{
 margin: 25px;
}
#mouse-click{
  margin: 55px;
}