@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@388&display=swap');

body {
  text-align: center;
}

#des {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1.des {
  margin: 28px;
}

#mouse-click {
  margin: 120px;
}

.about {
  margin: 40px;
}

.design {
  display: none;
}

.development {
  display: none;
}

.product {
  display: none;
}

.col-sm-3 {
  position: relative;
  width: 25%;
  margin-bottom: 30px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.text {
  color: rgb(248, 222, 156);
  transition: .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  font-size: 19px;
}

.image:hover .image {
  opacity: 0.2;
}

::placeholder {
  color: rgb(228, 222, 222);
}

#name {
  width: 500px;
  height: 30px;
}

#email {
  width: 500px;
  height: 30px;
} 

#message {
  width: 850px;
  height: 138px;
  padding-bottom: 95px;
}

.col-75 {
  position: absolute;
  left: 32px;
}

#subscribe {
  background: none;
  color: rgb(245, 240, 240);
  margin: 137px;
  margin-left: 10%;
}

footer {
  margin: 10px;
}

@media screen and (max-width: 480px){
  body {
    background-color: black;
    color: white;
}
.column {
  width: 220px;
  float: left;
  padding: 15px;
}
}